# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Main CI

on:
  pull_request:
    branches: [ "master" ]
  push:
    branches:
      - "master"

jobs:

  Windows:
    runs-on: windows-latest
    name: Tests Windows - Python ${{ matrix.python-version }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13" ]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/run-tests
        with:
          python-version: ${{ matrix.python-version }}

  macOS:
    runs-on: macos-latest
    name: Tests macOS - Python ${{ matrix.python-version }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13" ]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/run-tests
        with:
          python-version: ${{ matrix.python-version }}

  Linux:
    runs-on: ubuntu-latest
    name: Tests Linux - Python ${{ matrix.python-version }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13" ]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/run-tests
        with:
          python-version: ${{ matrix.python-version }}
